/* section cards */

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    justify-content: center;
    margin-top: 3rem;
}

.card {
    border: 1px solid var(--vp-c-gray-soft);
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    /* override theme configuration */
    text-decoration: none !important;
    color: inherit !important;
    transition: border-color 0.2s ease !important;
}

.card:hover {
    border-color: var(--vp-c-brand-1);
}

.card h3 {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 700;
}

.card p {
    margin: 0 0 4px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

/* about-me page listing spacing */

.vp-doc .education-and-experience li:not(.details li) {
    margin-bottom: 38px !important;
}

.education-and-experience p {
    line-height: 1.2 !important;
}

/* related courses tables */

.course-table {
    margin-top: 36px;
    width: 100%;
}

.course-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--vp-c-gray-1);
    margin: 0;
}

.course-table thead,
.course-table tbody {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.course-table th,
.course-table td {
    border: none;
    padding: 6px 12px;
    white-space: normal;
}

.course-table th:nth-child(1),
.course-table td:nth-child(1) {
    width: 20%;
}

.course-table th:nth-child(2),
.course-table td:nth-child(2) {
    width: 20%;
}

.course-table th:nth-child(3),
.course-table td:nth-child(3) {
    width: 40%;
}

.course-table th:nth-child(4),
.course-table td:nth-child(4) {
    width: auto;
}

.course-table th {
    background-color: var(--vp-c-gray-3);
    text-align: left;
}

.course-table tr:nth-child(even) {
    background-color: var(--vp-c-gray-soft);
}

.course-table tr:nth-child(odd) {
    /* NOTE: if use back this class, bg color must be changed to a variable */
    background-color: white;
}

/* link in feature card */

.feature-link {
    display: flex;
    justify-content: end;
}

.feature-link a {
    color: var(--vp-c-brand-1);
    font-weight: 600;
}

/* nested list styling */

.vp-doc ul ul {
    list-style-type: circle !important;
}

.vp-doc ul ul ul {
    list-style-type: square !important;
}

/* medium zoom z-index */

.medium-zoom-image {
    z-index: 9999 !important;
}

.medium-zoom-overlay {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 9998 !important;
}