.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    justify-content: center;
    margin-top: 3rem;
}

.card {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* override theme configuration */
    text-decoration: none !important;
    color: inherit !important;
    transition: box-shadow 0.2s ease, border-color 0.2s ease !important;
}

.card:hover {
    box-shadow: 0 4px 10px var(--vp-c-brand-soft);
    border-color: var(--vp-c-brand-soft);
}

.card h3 {
    margin: 0 0 0.8rem 0;
    font-size: 16px;
    font-weight: 700;
}

.card p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
}